* {
    box-sizing: content-box;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
}

input {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

a,
a:visited {
    text-decoration: none;
    color: #FFF;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    display: none;
}

.loading img {
    width: 60px;
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.blur {
    filter: blur(5px);
}

.campo_obrigatorio {
    border: 1px solid #e23232 !important;
}

.aviso {
    box-sizing: border-box;
    max-height: 200px;
    padding: 16px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    z-index: 6;
    display: none
}

.aviso p {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #FFF
}

.aviso::-webkit-scrollbar-track,
.aviso::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 45px rgba(214, 214, 214, 0.34);
}

ul::-webkit-scrollbar-track,
ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 45px rgba(46, 46, 46, 0.34);
}

.aviso::-webkit-scrollbar,
ul::-webkit-scrollbar {
    width: 6px
}

.bg_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.83);
    box-shadow: 0 0 170px rgba(0, 0, 0, 0.8) inset;
    z-index: 4;
    margin: 0;
    padding: 0;
    display: none;
}

.fechar_modal {
    background-color: #8866a2;
    color: #FFF;
    width: 42px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    margin: -246px 0 0 -250px;
    cursor: pointer;
}

.modal {
    width: 1200px;
    height: 325px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -600px;
    z-index: 5;
    background-color: #FFF;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    display: none;
}

nav {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 5;
}

nav a {
    color: #FFF;
    margin-right: 20px;
    line-height: 45px;
    cursor: pointer;
    transition: 0.5s;
}

nav a:hover {
    color: #8866a2;
}

nav a:first-of-type {
    margin-left: 10px;
}

nav a img {
    width: 17px;
    vertical-align: sub;
}

nav a span {
    margin-left: 2px;
}

.corpo_pagina {
    width: calc(100% - 70px);
    height: auto;
    padding: 20px;
    border: 1px solid #6f6477;
    border-radius: 3px;
    margin: 60px auto 20px;
}

.corpo_pagina h2,
.corpo_pagina h3 {
    margin: 0 0 20px 0;
    color: #8866a2;
    font-weight: 400;
}

.div_inputs {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.espaco_campo {
    width: calc(20% - 5px);
    height: auto;
    display: inline-block;
}

.espaco_campo label {
    display: block;
    margin: 0 0 5px 0;
}

.espaco_campo input {
    width: calc(100% - 30px);
    border-radius: 3px;
    border: 1px solid rgb(172, 172, 172);
    padding: 5px;
}

.espaco_texto {
    width: calc(100% - 100px);
}

.espaco_campo textarea {
    width: 100%;
    height: 190px;
    font-size: 12px;
    resize: none;
    border-radius: 3px;
    border: 1px solid rgb(172, 172, 172);
}

.fr-box.fr-basic .fr-element {
    min-height: 300px !important;
    font-size: 14px !important;
}

.espaco_campo .select2 {
    width: calc(100% - 18px) !important;
}

.add,
.remover {
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.5s;
}

.add:hover,
.remover:hover {
    opacity: 0.8;
}

.lista_itens {
    margin: 0;
    padding: 20px;
    list-style: none;
    overflow-y: auto;
    max-height: 250px;
    background-color: #d6cee6;
    border-left: 5px solid #8069a9;
}

.lista_itens li {
    margin: 0 0 20px 0;
}

.lista_itens li:last-of-type {
    margin: 0;
}

.campo_extra .espaco_campo {
    margin: 0 3px 0 0 !important;
}

.campo_extra .espaco_campo:last-of-type {
    margin: 0 15px 0 0 !important;
}

.botao_generico {
    background-color: #8866a2;
    color: #FFF;
    border: 3px solid #c3a1dd !important;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.botao_generico:hover {
    opacity: 0.7;
}

.titulo_tabela {
    margin: 10px 0 20px 0 !important;
}

select {
    border: 3px;
    border: 1px solid #6f6477;
}

table {
    width: 100% !important;
    text-align: center;
}

.odd {
    background-color: #eee4f7 !important;
}

.img_dt_tables {
    width: 20px;
}

.img_click {
    cursor: pointer;
    transition: 0.5s;
}

.img_click:hover {
    opacity: 0.7;
    filter: grayscale(80%);
}

.campo_erro {
    border: 1px solid rgb(204, 42, 42) !important;
}

.editar_espaco,
.ativo_espaco,
.pre_selecionado,
.form_cursos {
    display: none;
}