* {
    box-sizing: content-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    position: relative;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

input,
select,
button {
    font-family: 'PT Sans', sans-serif;
}

.bg_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}

.aviso {
    width: 100%;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 3;
    display: none;
}

.aviso p {
    font-size: 23px;
    line-height: 71px;
    text-align: center;
    color: #FFF;
}

form {
    width: 336px;
    height: 363px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -178px;
}

form h1 {
    margin: 25px 0 10px 0;
    text-align: center;
    color: #5d5e5f;
    font-size: 17px;
    font-weight: lighter;
    transition: 0.5s;
}

.logo {    
    width: 80px;
}

form input[type="text"],
form input[type="password"] {
    width: 265px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #CCC;
    margin: 10px 0;
    text-align: center;
}

.entrar_botao {
    width: 255px;
    height: 30px;
    margin: 15px auto;
    text-align: center;
    background-color: #9157b8;
    font-size: 14px;    
    color: #FFF;
    border-radius: 4px;
    line-height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.entrar_botao:hover {
    opacity: 0.8;
}

.div_login {
    width: 100%;
    height: 350px;
    background-color: #FFF;
    border: 1px solid #aba5a5;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    margin: 0 20px 0 0;
    padding: 0 0 10px 0;
    display: inline-block;
    transition: 0.5s;
}

.logo_mobile {
    display: none;
}

.div_login hr {
    margin: 0 auto 15px auto;
    width: 90%;
    opacity: 0.5;
}

.div_login_interno {
    width: 80%;
    margin: 0 auto;
}

.div_login_interno a {
    text-decoration: none;
    font-size: 13px;
    color: #585858;
    margin: 0;
    transition: 0.5s;
}

.div_login_interno a:hover {
    color: #000;
}

.loading {
	width: auto !important;
}

@media screen and (max-width: 700px) {
    form {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.86);
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .div_login {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        margin: -145px 0 0 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        display: block;
        background-color: initial;
    }

    form h1 {
        margin: 0;
    }

    .amb_homolog {
        border-radius: 0 0 10px 10px;
    }

    .logo_desktop {
        display: none;
    }

    .logo_mobile {
        margin: 0 auto;
        display: block;
        -webkit-filter: drop-shadow( -6px 0px 4px rgba(0, 0, 0, 0.3));
        filter: drop-shadow( -6px 0px 4px rgba(0, 0, 0, 0.3));
    }

    .div_login_interno {
        width: 80%;
        margin: 0 auto;
    }

    form input[type="text"], form input[type="password"] {
        width: 100%;
    }

    .entrar_botao {
        width: calc(100% - 10px);
    }

    .aviso {
        height: auto;
    }

    .aviso p {
        font-size: 18px;
    }
}