<script src="js/biblioteca.js"></script>
<div class="biblioteca_interno">
    <h3>Biblioteca</h3>
    <p>Para mais arquivos como esses,
        <em title="Clique para solicitar mais arquivos como esses" class="mais_arquivos"> clique aqui</em> para solicitá-los.</p>
    <hr>
    <table id="biblioteca_dados"></table>
</div>