<script src="js/contato.js"></script>
<div class="contato_interno">
    <h3>Entre em contato conosco:</h3>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*Nome Completo:</label>
            <input type="text" placeholder="Informe seu nome completo" id="nome_contato" required />
        </div>
        <div class="espaco_campo">
            <label>Assunto:</label>
            <input type="text" placeholder="Informe o assunto da mensagem" id="assunto_contato" />
        </div>
        <div class="espaco_campo">
            <label>*Email:</label>
            <input type="text" placeholder="Informe seu email" id="email_contato" required />
        </div>
        <div class="espaco_campo">
            <label>Telefone:</label>
            <input type="text" placeholder="Informe seu telefone" id="telefone_contato" />
        </div>
    </div>
    <div class="div_inputs">
        <textarea placeholder="Escreva aqui sua mensagem" id="texto_contato"></textarea>
    </div>
    <div class="div_inputs">
        <input type="button" value="Enviar Mensagem" id="enviar_msg" />
    </div>
    <hr />
    <h3>Telefones:</h3>
    <p>Deise Maria Basso: (19) 99627-4949 | (19)3434-0332</p>
    <p>Silvana Alleoni Crivellari: (19) 98164-7112 | (19)3432-6423</p>
    <hr />
    <h3>Outras Opções de Contato:</h3>
    <p>Email:
        <a href="mailto:contato@enlacepiracicaba.com.br" target="_top">contato@enlacepiracicaba.com.br</a> |
        <a href="mailto:contato@enlacepiracicaba.com.br" target="_top">enlacepiracicaba@gmail.com</a>
    </p>
    <p>Facebook:
        <a href="https://www.facebook.com/enlacepiracicaba" target="_blank">https://www.facebook.com/enlacepiracicaba</a>
    </p>
    <hr>
    <h3>Localização: APM - Piracicaba/SP</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7361.002143307995!2d-47.642174!3d-22.709610000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c6319c5889ec37%3A0x55ff077f38d771fd!2sAv.+Centen%C3%A1rio%2C+546+-+S%C3%A3o+Dimas%2C+Piracicaba+-+SP%2C+13416-000!5e0!3m2!1spt-BR!2sbr!4v1515024609320"
        frameborder="0" allowfullscreen></iframe>
</div>