<script src="js/contato.js"></script>
<div class="modal_contato_int">
    <h3>Entre em contato conosco:</h3>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*Nome Completo:</label>
            <input type="text" placeholder="Informe seu nome completo" id="nome_contato" required />
        </div>
        <div class="espaco_campo">
            <label>Assunto:</label>
            <input type="text" placeholder="Informe o assunto da mensagem" id="assunto_contato" />
        </div>
        <div class="espaco_campo">
            <label>*Email:</label>
            <input type="text" placeholder="Informe seu email" id="email_contato" required />
        </div>
        <div class="espaco_campo">
            <label>Telefone:</label>
            <input type="text" placeholder="Informe seu telefone" id="telefone_contato" />
        </div>
    </div>
    <div class="div_inputs">
        <textarea placeholder="Escreva aqui sua mensagem" id="texto_contato"></textarea>
    </div>
    <div class="div_inputs">
        <input type="button" value="Enviar Mensagem" id="enviar_msg" />
    </div>
</div>