<script src="js/cursoExpansao_B.js"></script>
<div class="info_adicional_expansao">
	<h3>Informações Adicionais</h3>
	<div class="investimento">
		<p>
			<span class="titulo_interno">Matrícula: </span> R$
			<span id="valor_matricula_modal"></span>
		</p>
		<p>
			<span class="titulo_interno">Valor: </span>
			<span id="qtd_parcela_modal"></span>x R$
			<span id="valor_parcela_modal"></span>
		</p>
	</div>
	<hr>
	<div class="calendario">
		<div id="turmas_modal"></div>
		<p>
			<span class="titulo_interno">Duração: </span>
			<span id="duracao_modal"></span>
		</p>
		<p>
			<span class="titulo_interno">Carga Horária: </span>
			<span id="carga_horaria_modal"></span> Horas
		</p>
		<input type="button" class="botao_generico" id="matricula_curso_exp_b" value="Inscreva-se" />
	</div>
</div>
<div class="conteudo_modal_interno">
	<h3 id="titulo_modal"></h3>
	<img class="imagem_curso_expansao" id="imagem_curso_modal" alt="Seminário Clínico" />
	<p id="sobre_modal"></p>
</div>