<script src="js/cursoA.js"></script>
<div class="info_curso mobile">
	<input type="button" class="botao_generico" id="matricula_curso_a_piracicaba_mob" value="Inscreva-se (Piracicaba)">
	<input type="button" class="botao_generico" id="matricula_curso_a_campinas_mob" value="Inscreva-se (Campinas)">
</div>
<div class="curso_a_interno">
	<div class="sobre_curso">
		<h2>CURSO DE ESPECIALIZAÇÃO COM RECONHECIMENTO DO MEC:</h2>
		<h3 id="titulo"></h3>
		<img id="imagem_curso" alt="sobre o curso" />
		<p id="sobre"></p>
		<hr>
		<h4>Informações</h4>
		<p id="informacoes"></p>
		<hr>
		<h4>A Quem se Destina:</h4>
		<p id="destinado"></p>
		<hr>
		<h4>Documentos Necessários:</h4>
		<ul id="lista_documentos"></ul>
		<hr>
		<h3 class="titulo_loc">Piracicaba (SP)</h3>
		<h4 class="subtitulo_loc">Localização:
			<span id="localizacao_piracicaba"></span>
		</h4>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.5010693658755!2d-47.6443623856711!3d-22.70961008511242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c6319c5889ec37%3A0x55ff077f38d771fd!2sAv.+Centen%C3%A1rio%2C+546+-+S%C3%A3o+Dimas%2C+Piracicaba+-+SP%2C+13416-000!5e0!3m2!1spt-BR!2sbr!4v1513549541010"
			frameborder="0" allowfullscreen></iframe>
		<hr>
		<h3 class="titulo_loc">Campinas (SP)</h3>
		<h4 class="subtitulo_loc">Localização:
			<span id="localizacao_campinas"></span>
		</h4>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.7172246065215!2d-47.045961085603594!3d-22.88690204291433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8cf58d3027007%3A0x289809921666e52b!2sR.+Mogi+Gua%C3%A7u%2C+12+-+Vila+Guararapes%2C+Campinas+-+SP%2C+13091-103!5e0!3m2!1spt-BR!2sbr!4v1548975222593"
			frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="info_curso">
		<h3>Informações Adicionais | Piracicaba - SP</h3>
		<div class="investimento">
			<p class="center">
				<span class="titulo_interno">Valores anuais</span>
			</p>
			<p>
				<span class="titulo_interno">Matrícula: </span> R$
				<span id="valor_matricula_piracicaba"></span>
			</p>
			<p>
				<span class="titulo_interno">Valor: </span>
				<span id="qtd_parcela_piracicaba"></span>x R$
				<span id="valor_parcela_piracicaba"></span>
			</p>
		</div>
		<hr>
		<div class="calendario">
			<div id="turmas_piracicaba"></div>
			<p>
				<span class="titulo_interno">Duração: </span>
				<span id="duracao_piracicaba"></span>
			</p>
			<p>
				<span class="titulo_interno">Carga Horária: </span>
				<span id="carga_horaria_piracicaba"></span> Horas
			</p>
			<input type="button" class="botao_generico" id="matricula_curso_a_piracicaba" value="Inscreva-se">
		</div>
	</div>
	<div class="info_curso info_camp">
		<h3>Informações Adicionais | Campinas - SP</h3>
		<div class="investimento">
			<p class="center">
				<span class="titulo_interno">Valores anuais</span>
			</p>
			<p>
				<span class="titulo_interno">Matrícula: </span> R$
				<span id="valor_matricula_campinas"></span>
			</p>
			<p>
				<span class="titulo_interno">Valor: </span>
				<span id="qtd_parcela_campinas"></span>x R$
				<span id="valor_parcela_campinas"></span>
			</p>
		</div>
		<hr>
		<div class="calendario">
			<div id="turmas_campinas"></div>
			<p>
				<span class="titulo_interno">Duração: </span>
				<span id="duracao_campinas"></span>
			</p>
			<p>
				<span class="titulo_interno">Carga Horária: </span>
				<span id="carga_horaria_campinas"></span> Horas
			</p>
			<input type="button" class="botao_generico" id="matricula_curso_a_campinas" value="Inscreva-se">
		</div>
	</div>
</div>