<script src="js/matriculaCursoA.js"></script>
<div class="conteudo_modal_interno">
    <h3>Preencha os dados abaixo para matricular-se no curso:</h3>
    <div class="div_inputs">
        <div class="espaco_campo select_obrigatorio">
            <label>Curso:</label>
            <select class="select2_html" id="matricula_curso" disabled required>
                <option value="1">Constituição do Sujeito e Intervenções: Teoria e Prática Psicanalítica
                </option>
                <option value="2">Nascimento e Construção da Mente</option>
                <option value="3">Seminários Clínicos</option>
                <option value="4">Fundamentos Psicanalíticos: Teoria e Técnica</option>
            </select>
        </div>
        <div class="espaco_campo select_obrigatorio">
            <label>*Local:</label>
            <select class="select2_html" id="matricula_local" data-placeholder="Selecione o local" disabled required>
                <option value=""></option>
                <option value="Piracicaba">Piracicaba</option>
                <option value="Campinas">Campinas</option>
            </select>
        </div>
        <div class="espaco_campo select_obrigatorio">
            <label>*Turma:</label>
            <select class="select2_html" id="matricula_turma" data-placeholder="Selecione a turma" required></select>
        </div>
        <div class="espaco_campo">
            <label>*Nome Completo:</label>
            <input type="text" id="matricula_nome_completo" placeholder="Informe o nome completo" required />
        </div>
        <div class="espaco_campo">
            <label>*Email:</label>
            <input type="text" id="matricula_email" placeholder="Informe o email" required />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*CPF:</label>
            <input type="text" id="matricula_cpf" placeholder="Informe o CPF" required />
        </div>
        <div class="espaco_campo">
            <label>Intituição:</label>
            <input type="text" id="matricula_instituição" placeholder="Informe a instituição onde estudou" />
        </div>
        <div class="espaco_campo">
            <label>*Ano de Formação:</label>
            <input type="text" id="matricula_formacao" placeholder="Selecione o ano de formação" required />
        </div>
        <div class="espaco_campo">
            <label>Empresa:</label>
            <input type="text" id="matricula_empresa" placeholder="Informe a empresa em que trabalha" />
        </div>
        <div class="espaco_campo">
            <label>*Profissão:</label>
            <input type="text" id="matricula_profissao" placeholder="Informe a profissão" required />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*CEP:</label>
            <input type="text" id="matricula_cep" placeholder="Informe o CEP residencial" required />
        </div>
        <div class="espaco_campo">
            <label>*Logradouro:</label>
            <input type="text" id="matricula_logradouro" placeholder="Informe o logradouro residencial" required />
        </div>
        <div class="espaco_campo">
            <label>*Bairro:</label>
            <input type="text" id="matricula_bairro" placeholder="Informe o bairro residencial" required />
        </div>
        <div class="espaco_campo">
            <label>Complemento:</label>
            <input type="text" id="matricula_complemento" placeholder="Informe o complemento residencial" />
        </div>
        <div class="espaco_campo">
            <label>*Número:</label>
            <input type="text" id="matricula_numero" placeholder="Informe o número residencial" required />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo select_obrigatorio">
            <label>*Estado:</label>
            <select class="select2_html" id="matricula_uf" data-placeholder="Selecione o estado" required></select>
        </div>
        <div class="espaco_campo select_obrigatorio">
            <label>*Cidade:</label>
            <select class="select2_html" id="matricula_cidade" data-placeholder="Selecione a cidade" required></select>
        </div>
        <div class="espaco_campo">
            <label>Contato:</label>
            <input type="text" id="matricula_contato" placeholder="Informe o contato" />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <input class="botao_generico" type="button" id="matricula_cadastrar" value="Matricular-se" />
        </div>
    </div>
</div>