<div class="sobre_nos_interno">
    <div class=enlace_sobre_img>
        <img src="images/logo_contato.png" alt="Enlace" />
    </div>
    <p><span class="primeira_letra">E</span>nlace - Cursos de Especialização em Psicoterapia Psicanalítica nasceu de um grande sonho gestado através de nossos grupos de estudos como docentes numa troca afetiva com nossos alunos.</p>
    <p>Idealizamos um espaço de encontro entre pensamento teórico e trabalho clínico promovendo o estudo e desenvolvimento da Psicanálise dentro desse tema tão instigante que é a mente humana.</p>
    <p>Nas últimas décadas, o campo analítico ampliou-se significativamente. Hoje a tarefa terapêutica requer que paciente e analista trabalhem juntos para fortalecer ou criar, a estrutura psíquica inexistente, frágil ou funcionalmente inoperante.</p>
    <p>É um estudo especialmente relevante para o tratamento de pacientes e de estados mentais não neuróticos, entendidos como relacionados a uma fragilidade ou falta de capacidade de representação.</p>
    <p>Para pensar a clínica psicanalítica atual estudaremos autores como Esther Bick e seu importante Método de Observação de Bebês, André Green, Francis Tustin, Marie Christine Laznik, Anne Alvarez entre outros.</p>
    <p>No intuito de ser um elo entre nossos professores e nossos alunos e pela gratidão que temos a todos eles por todo aprendizado adquirido, acreditamos poder contribuir em aprimorar o conhecimento dos nossos alunos melhorando sua atuação no campo da Psicanálise.</p>
    <p>Para prezar pela qualidade dos nossos Cursos organizamos algumas aulas que serão ministradas por professores e autores atuais da Psicanálise através de vídeo-aulas, aulas on-line ou presenciais.</p>
    <hr>
    <h4>Silvana Alleoni Crivellari - CRP 06/14202-5 – Psicóloga - Psicanalista pela Sociedade de Psicanálise de Campinas. </h4>
    <p>Especialista em Psicologia Infantil pelo Grupo de Estudos de Psiquiatria, Psicologia e Psicoterapia Infantil - GEPPI – Dr. Osvaldo Danti Di Loreto. Especialização em Clinica da Estimulação Precoce – pela FEPI- Fundación para el Estudio de los problemas de la Infancia - Argentina. Curso de Observação de Bebês – Método Esther Bick. Colaboradora na UNIFESP – Universidade Federal de São Paulo - Setor de Pediatria e Saúde Mental – Bebês de 0 a 3 anos - Experiência na área de psicologia clínica com ênfase em Psicanálise e na relação pais/bebês. Docente – Sociedade de Psicanálise de Campinas: 1995 a 2013. E na Instituição CEFAS: Centro de Formação e Assistência à Saúde - Unidade Piracicaba/SP ( 2006 – atual ) . Psicóloga Clínica desde 1982.</p>
    <hr>
    <h4>Deise Maria Basso - CRP: 06/293122 - Psicóloga (USP-1987)</h4>
    <p>Membro filiado à Sociedade Brasileira de Psicanálise de São Paulo (2007- atual). Psicanalista pela Sociedade de Psicanálise de Campinas. Especialista em Psicologia infantil pelo Grupo de Estudos de Psiquiatria, Psicologia e Psicoterapia Infantil - GEPPI – Dr. Osvaldo Danti Di Loreto (1996-1997). Curso de Observação de Bebês – Método Esther Bick. Docente – Sociedade de Psicanálise de Campinas. Docente e supervisora do Centro de Formação e Assistência à Saúde-Cefas (2006-atual). Psicóloga clínica desde 1988.</p>
</div>
