<script src="js/biblioteca.js"></script>
<h2>Novo Arquivo</h2>
<div class="form_arquivo">
    <div class="div_inputs">
        <div class="espaco_campo select_obrigatorio">
            <label>*Tipo de Arquivo:</label>
            <select data-placeholder="Selecione o tipo de arquivo" id="tipo_arquivo" class="select2_html"></select>
        </div>
        <div class="espaco_campo">
            <label>*Título:</label>
            <input type="text" id="titulo_arquivo" maxlength="200" placeholder="Informe o título do arquivo" required />
        </div>
        <div class="espaco_campo">
            <label>*Autor:</label>
            <input type="text" id="autor_arquivo" maxlength="200" placeholder="Informe o nome do autor" required />
        </div>
        <div class="espaco_campo">
            <label>*Link do Arquivo:</label>
            <input type="text" id="link_arquivo" maxlength="200" placeholder="Insira o link do arquivo" required />
        </div>
        <div class="ativo_espaco espaco_campo select_obrigatorio">
            <label>Ativo:</label>
            <select data-placeholder="Selecione uma opção" id="ativo_arquivo" class="select2_html">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="div_inputs">
        <div class="espaco_campo criar_espaco">
            <input id="criar_arquivo" type="button" class="botao_generico" value="Criar Arquivo" />
        </div>
        <div class="espaco_campo editar_espaco">
            <input id="editar_arquivo" type="button" class="botao_generico" value="Editar Arquivo" />
        </div>
        <div class="espaco_campo editar_espaco">
            <input id="cancelar_arquivo" type="button" class="botao_generico" value="Cancelar" />
        </div>
    </div>
</div>
<hr>
<h2 class="titulo_tabela">Arquivos Cadastrados</h2>
<table id="tabela_biblioteca"></table>