<script src="js/cursos.js"></script>
<h2>Cursos</h2>
<div class="form_cursos">
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*Nome:</label>
            <input type="text" id="titulo_curso" placeholder="Informe o título do curso" required />
        </div>
        <div class="espaco_campo">
            <label>Documentos Necessários:</label>
            <select class="select2_html" type="text" id="docs_curso" data-placeholder="Selecione os documentos necessários" multiple>
            </select>
        </div>
        <div class="espaco_campo">
            <label>*Ativo:</label>
            <select data-placeholder="Selecione uma opção" id="ativo_curso" class="select2_html" required>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="div_inputs">
        <h2>Piracicaba</h2>
        <div class="espaco_campo">
            <label>Valor da Matrícula:</label>
            <input type="text" id="val_matricula_curso_piracicaba" placeholder="Informe o valor da matrícula" />
        </div>
        <div class="espaco_campo">
            <label>Quantidade de Parcelas:</label>
            <input type="text" id="parcelas_curso_piracicaba" placeholder="Informe a quantidade de parcelas do pagamento" />
        </div>
        <div class="espaco_campo">
            <label>Valor das Parcelas:</label>
            <input type="text" id="valor_parcelas_curso_piracicaba" placeholder="Informe o valor das parcelas" />
        </div>
        <div class="espaco_campo">
            <label>*Duração:</label>
            <input type="text" id="duracao_curso_piracicaba" placeholder="Informe a duração" required />
        </div>
        <div class="espaco_campo">
            <label>*Carga Horária:</label>
            <input type="text" id="carga_horaria_curso_piracicaba" placeholder="Informe a carga horária" required />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>Endereço:</label>
            <input type="text" id="endereco_curso_piracicaba" placeholder="Informe o endereço do curso" />
        </div>
        <div class="espaco_campo">
            <label>*Ativo:</label>
            <select data-placeholder="Selecione uma opção" id="ativo_curso_piracicaba" class="select2_html" required>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
    </div>
    <div class="div_inputs">
        <h3>
            Turmas:
            <img src="images/add.svg" alt="add" class="add" id="add_turma_piracicaba" />
        </h3>
        <ul id="lista_turma_piracicaba" class="lista_itens"></ul>
    </div>
    <hr>
    <div class="div_inputs">
        <h2>Campinas</h2>
        <div class="espaco_campo">
            <label>Valor da Matrícula:</label>
            <input type="text" id="val_matricula_curso_campinas" placeholder="Informe o valor da matrícula" />
        </div>
        <div class="espaco_campo">
            <label>Quantidade de Parcelas:</label>
            <input type="text" id="parcelas_curso_campinas" placeholder="Informe a quantidade de parcelas do pagamento" />
        </div>
        <div class="espaco_campo">
            <label>Valor das Parcelas:</label>
            <input type="text" id="valor_parcelas_curso_campinas" placeholder="Informe o valor das parcelas" />
        </div>
        <div class="espaco_campo">
            <label>*Duração:</label>
            <input type="text" id="duracao_curso_campinas" placeholder="Informe a duração" required />
        </div>
        <div class="espaco_campo">
            <label>*Carga Horária:</label>
            <input type="text" id="carga_horaria_curso_campinas" placeholder="Informe a carga horária" required />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>Endereço:</label>
            <input type="text" id="endereco_curso_campinas" placeholder="Informe o endereço do curso" />
        </div>
        <div class="espaco_campo">
            <label>*Ativo:</label>
            <select data-placeholder="Selecione uma opção" id="ativo_curso_campinas" class="select2_html" required>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
    </div>
    <div class="div_inputs">
        <h3>
            Turmas:
            <img src="images/add.svg" alt="add" class="add" id="add_turma_campinas" />
        </h3>
        <ul id="lista_turma_campinas" class="lista_itens"></ul>
    </div>
    <hr>
    <div class="div_inputs">
        <div class="espaco_campo espaco_texto">
            <h3>Sobre:</h3>
            <textarea id="sobre_curso" placeholder="Digite sobre o curso"></textarea>
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo espaco_texto">
            <h3>Informações:</h3>
            <textarea id="info_curso" placeholder="Digite informações sobre o curso"></textarea>
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo espaco_texto">
            <h3>A Quem se Destina:</h3>
            <textarea id="destinado_curso" placeholder="Digite para quem se destina o curso"></textarea>
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <input type="button" class="botao_generico" id="editar_curso" value="Editar Curso" />
        </div>
        <div class="espaco_campo">
            <input type="button" class="botao_generico" id="cancelar_curso" value="Cancelar" />
        </div>
    </div>
    <hr>
</div>
<table id="tabela_cursos"></table>