<script src="js/eventos.js"></script>
<h2>Novo Evento</h2>
<form method="post" enctype="multipart/form-data" id="form_evento">
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*Nome:</label>
            <input type="text" id="titulo_evento" placeholder="Informe o título do evento" required />
        </div>
        <div class="espaco_campo">
            <label>*Imagem:
                <span class="pre_selecionado img_selecionado">(Selecionado:
                    <span id="caminho_imagem"></span>)</span>
            </label>
            <input accept="image/*" type="file" id="imagem_evento" placeholder="Selecione a imagem do evento" required />
        </div>
        <div class="espaco_campo">
            <label>*PDF:
                <span class="pre_selecionado pdf_selecionado">(Selecionado:
                    <span id="caminho_pdf"></span>)</span>
            </label>
            <input accept=".pdf" type="file" id="pdf_evento" placeholder="Selecione o PDF do evento" required />
        </div>
        <div class="espaco_campo">
            <label>*Tipo Evento:</label>
            <input type="text" id="tipo_evento" placeholder="Informe o tipo de evento" required />
        </div>
        <div class="espaco_campo">
            <label>*Formulário (link):</label>
            <input type="text" id="form_link_evento" placeholder="Cole o link do formulário" required />
        </div>
    </div>
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*Data:</label>
            <input type="text" id="data_evento" placeholder="Informe a data do evento" required />
        </div>
        <div class="espaco_campo">
            <label>*Horário:</label>
            <input type="text" id="horario_evento" placeholder="Informe o horário do evento" required />
        </div>
        <div class="espaco_campo">
            <label>*Local:</label>
            <input type="text" id="local_evento" placeholder="Informe o local do evento" required />
        </div>
        <div class="ativo_espaco espaco_campo">
            <label>Ativo:</label>
            <select data-placeholder="Selecione uma opção" id="ativo_evento" class="select2_html">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="div_inputs">
        <div class="espaco_campo criar_espaco">
            <input type="submit" class="botao_generico" value="Criar Evento" />
        </div>
        <div class="espaco_campo editar_espaco">
            <input id="editar_evento" type="submit" class="botao_generico" value="Editar Evento" />
        </div>
        <div class="espaco_campo editar_espaco">
            <input id="cancelar_evento" type="button" class="botao_generico" value="Cancelar" />
        </div>
    </div>
</form>
<hr>
<h2 class="titulo_tabela">Eventos Cadastrados</h2>
<table id="tabela_eventos"></table>