<script src="js/telaInicial.js"></script>
<h2>Tela Inicial</h2>
<div class="form_slide">
    <div class="div_inputs">
        <div class="espaco_campo">
            <label>*Imagem:</label>
            <input type="file" id="imagem_slide" required />
        </div>
        <div class="ativo_espaco espaco_campo select_obrigatorio">
            <label>Ativo:</label>
            <select data-placeholder="Selecione uma opção" id="ativo_slide" class="select2_html">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="div_inputs">
        <div class="espaco_campo criar_espaco">
            <input id="criar_slide" type="button" class="botao_generico" value="Criar Slide" />
        </div>
        <div class="espaco_campo editar_espaco">
            <input id="editar_slide" type="button" class="botao_generico" value="Editar Slide" />
        </div>
        <div class="espaco_campo editar_espaco">
            <input id="cancelar_slide" type="button" class="botao_generico" value="Cancelar" />
        </div>
    </div>
</div>
<hr>
<h2 class="titulo_tabela">Slides Criados</h2>
<table id="tabela_tela_inicial"></table>