* {
    box-sizing: content-box;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

input {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 6;
    display: none;
}

.loading img {
    width: 60px;
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.blur {
    filter: blur(5px);
}

.campo_obrigatorio {
    border: 1px solid #e23232 !important;
}

.aviso {
    box-sizing: border-box;
    max-height: 200px;
    padding: 16px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    z-index: 6;
    display: none
}

.aviso p {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #FFF
}

.aviso::-webkit-scrollbar-track,
.aviso::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 45px rgba(214, 214, 214, 0.34);
}

.aviso::-webkit-scrollbar {
    width: 6px
}

.atalho_contato {
    position: fixed;
    width: 190px;
    height: 38px;
    background-color: #8b6a98;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #684ba0eb, #8776c0e6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #684ba0eb, #8776c0e6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #684ba0eb, #8776c0e6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #684ba0eb, #8776c0e6);
    /* Standard syntax */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    color: #FFF;
    padding: 14px 0 0 17px;
    z-index: 3;
    bottom: 20px;
    right: -10px;
    transform: skew(-18deg);
    cursor: pointer;
}

.center {
    width: 100%;
    text-align: center;
    margin: 0px !important;
}

.atalho_contato p {
    font-size: 20px;
    margin: 0;
}

.atalho_contato img {
    vertical-align: sub;
    width: 25px;
}

.bg_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(138, 123, 148, 0.5882352941176471);
    box-shadow: 0 0 170px rgba(0, 0, 0, 0.8) inset;
    z-index: 4;
    margin: 0;
    padding: 0;
    display: none;
}

.fechar_modal {
    background-color: #d24848;
    color: #FFF;
    width: 42px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    margin: -246px 0 0 -410px;
    cursor: pointer;
}

.fechar_modal_curso {
    margin: -225px 0 0 -600px;
}

.fechar_modal_expansao {
    margin: -287px 0 0 -470px;
}

.fechar_modal_biblioteca {
    margin: -99px 0 0 -240px;
}

.modal_curso,
.modal_contato,
.modal_curso_expansao,
.modal_biblioteca,
.exp_matricula {
    width: 1200px;
    height: 375px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -600px;
    z-index: 5;
    background-color: #FFF;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    display: none;
}

.modal_curso_expansao {
    width: 930px;
    height: 500px;
    margin: -250px 0 0 -470px;
}

.modal_contato {
    width: 770px;
    height: 435px;
    margin: -210px 0 0 -410px;
}

.modal_biblioteca h3,
.modal_contato h3,
.modal_curso h3,
.modal_curso_expansao h3,
.exp_matricula h3 {
    margin: 0;
    color: #8967a2;
}

.modal_contato .modal_contato_int,
.conteudo_modal_interno {
    width: 90%;
    margin: 20px auto;
}

.conteudo_modal_interno {
    width: 95%;
}

.modal_curso_expansao .conteudo_modal_interno {
    width: 60%;
    overflow-y: auto;
    margin: 30px;
    border: none;
    text-align: center;
}

.modal_curso_expansao .conteudo_modal_interno p {
    text-align: left;
}

.div_inputs {
    margin: 15px 0;
}

.espaco_campo {
    width: calc(25% - 11px);
    margin: 0 10px 0 0;
    display: inline-block;
}

.modal_contato .espaco_campo {
    width: calc(24.33% - 6px);
}

.espaco_campo:last-of-type {
    margin: 0;
}

.espaco_campo label {
    font-size: 12px;
}

.espaco_campo input[type='text'] {
    width: calc(100% - 4px);
    height: 25px;
    padding-left: 4px;
    border-radius: 4px;
    border: 1px solid #CCC;
}

#texto_contato {
    margin: 0;
    width: calc(100% - 6px);
    max-width: calc(100% - 6px);
    height: 230px;
    max-height: 230px;
    border-radius: 4px;
    border: 1px solid #CCC;
}

#enviar_msg {
    background-color: #8967a2;
    color: #FFF;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
}

#enviar_msg:hover,
.fechar_modal:hover {
    opacity: 0.8;
}

header {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    background-image: url(../images/header_bg_top.jpg);
    background-size: cover;
    background-position: 0 -330px;
    position: relative;
}

header img {
    width: 55px;
    position: absolute;
    left: 235px;
    top: 18px;
}

header h3 {
    color: #dfddde;
    margin: 0;
    position: absolute;
    left: 310px;
    top: 33px;
    font-size: 18px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

nav {
    width: 100%;
    height: 68px;
    background-color: rgb(63, 57, 72);
    background: linear-gradient(to right, #231f3eeb, #453756e6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    color: #FFF;
    position: relative;
    z-index: 3;
}

.nav_fix {
    position: fixed;
    top: 0;
}

.logo_nav {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 165px;
    display: none;
}

nav a {
    margin: 0 10px;
    line-height: 72px;
    cursor: pointer;
    transition: 0.5s;
}

nav a:first-of-type {
    margin-left: 230px;
}

nav a:hover {
    color: #b5cf9c;
}

nav a img {
    width: 17px;
    vertical-align: sub;
}

nav .selecionado {
    color: #c7b0d1;
}

.dropdown_biblioteca,
.dropdown_curso {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    position: absolute;
    top: 68px;
    left: 420px;
    width: 242px;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    display: none;
}

.dropdown_biblioteca {
    left: 600px;
}

.dropdown_biblioteca li,
.dropdown_curso li {
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown_biblioteca li:hover,
.dropdown_curso li:hover {
    color: #a374a1;
}

.corpo_tela {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8a7b94;
    background: linear-gradient(to bottom, #625a71fa, #a39fa7);
    background-size: cover;
    overflow-y: auto;
    z-index: 2;
    display: none;
}

.slider_control {
    position: absolute;
    top: calc(50% - 55px);
    right: 0px;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.principal_click {
    position: absolute;
    width: 100%;
    height: 100%;
}

.indicador_slide {
    color: #FFF;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.58);
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 10px;
    background-color: #4e443c;
    display: block;
}

#prox {
    border-bottom: 1px solid #35322f;
}

.sobre_nos_interno,
.curso_a_interno,
.contato_interno,
.evento_interno,
.biblioteca_interno {
    width: 800px;
    height: auto;
    margin: 0 auto 25px;
    padding: 70px 30px 15px;
    background-color: #FFF;
    text-align: justify;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    border-radius: 0 0 5px 5px;
    position: relative;
}

.contato_interno {
    text-align: left;
}

.corpo_tela h3,
.corpo_tela h4 {
    color: #8967a2;
}

.corpo_tela table {
    width: 100% !important;
    text-align: center;
}

.sobre_nos_interno p,
.contato_interno p,
.curso_a_interno p {
    margin: 10px 0;
}

.contato_interno iframe {
    width: 100%;
    height: 200px;
    margin: 0 0 5px 0;
}

.enlace_sobre_img {
    width: calc(20% - 15px);
    margin: 20px auto 10px auto;
}

.enlace_sobre_img img {
    width: 100%;
}

.primeira_letra {
    font-size: 23px;
}

.sobre_curso,
.info_curso {
    display: inline-table;
}

.sobre_curso {
    width: 690px;
    position: relative;
    border-right: 1px solid #00000052;
    padding-right: 25px;
}

.sobre_curso img,
.sobre_curso iframe {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sobre_curso iframe {
    height: 300px;
    margin-bottom: 10px;
}

.sobre_curso hr {
    opacity: 0.7;
    margin: 20px 0;
}

.info_curso,
.info_adicional_expansao {
    width: 240px;
    background-color: #cfc7e8;
    padding: 48px 20px 10px 20px;
    border-radius: 4px;
    font-size: 13px;
    text-align: left;
    position: absolute;
    top: 90px !important;
    right: 26px;
    border: 1px solid #705d8e;
}

.info_camp {
    top: 565px !important;
}

.info_adicional_expansao {
    top: 20px !important;
}

.info_curso .titulo_interno,
.info_adicional_expansao .titulo_interno {
    color: #705d8e;
}

.info_curso h3,
.info_adicional_expansao h3 {
    width: 100%;
    text-align: center;
    left: 0;
    top: -16px;
    background-color: #7b537a;
    color: #FFF;
    position: absolute;
    padding: 10px 0;
}

.info_adicional_expansao h3 {
    top: 0px;
}

.info_curso hr,
.info_adicional_expansao hr {
    border-top: 1px solid #705d8e;
    opacity: 0.5;
}

.curso_a_interno {
    width: 1020px;
}

.sobre_nos_div h4,
.sobre_curso h4 {
    margin: 0 0 10px 0;
}

.titulo_interno {
    color: #637551;
    font-weight: bold;
}

.div_principal {
    width: 100%;
    height: 430px;
    background-color: #8a7b94;
    background: linear-gradient(to right, #625a71eb, #a39fa7e6);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}

.slogan_header {
    width: 900px;
    height: 430px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -450px;
    cursor: pointer;
    box-shadow: 0 -9px 28px rgba(0, 0, 0, 0.5);
    border-bottom: none;
}

.slogan_header img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.desc_slide {
    background-color: #000000d1;
    position: absolute;
    top: 202px;
    width: calc(100% - 40px);
    height: 70px;
    padding: 15px 20px 0 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.88);
}

.desc_slide:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #FFF;
}

.desc_slide h4 {
    color: #FFF;
    margin: 0;
}

.slogan_header p {
    font-size: 12px;
    color: #FFF;
    margin: 0;
    height: 100%;
    padding: 0;
}

.cursos {
    width: 100%;
    height: 215px;
    text-align: center;
}

.cursos_interno,
.localizacao_div_interno,
.footer_interno {
    width: 1100px;
    margin: 65px auto 0 auto;
}

.cursos_interno h2,
.localizacao_div_interno h2 {
    margin: 0 0 30px 0;
    color: #8967a2;
}

.linha_cursos {
    width: 100%;
    margin: 20px 0;
}

.curso {
    width: 470px;
    display: inline-block;
    margin: 0 30px;
    transition: 0.5s;
    position: relative;
}

.sobre_curso h2 {
    color: #8967a2;
    margin: 15px 0 -15px 0;
}

.curso a {
    font-size: 15px;
    line-height: 25px;
    color: #484d43;
}

.curso ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.curso li {
    margin: 10px 0;
    color: #777474;
    cursor: pointer;
    transition: 0.5s;
}

.curso li:hover {
    color: #484d43;
}

.reconhecido_mec {
    position: absolute;
    right: -24px;
    top: 44px;
}

.curso_tp_a {
    border-bottom: 5px solid #6e9449;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}

.curso span {
    display: block;
}

.curso_tp_b {
    border-bottom: 5px solid #927c9a;
}

.localizacao_div {
    width: 100%;
    height: 360px;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#FFF, #e3d9e6);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#FFF, #e3d9e6);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#FFF, #e3d9e6);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(#FFF, #e3d9e6);
    /* Standard syntax */
    text-align: center;
}

.localizacao_div iframe {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 80px;
    background-image: url(../images/footer_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.footer_interno {
    margin: 0 auto;
    text-align: center;
}

.footer_interno p {
    margin: 0;
    color: #FFF;
    line-height: 75px;
}

.footer_copyright {
    font-size: 10px;
}

.footer_telefone {
    margin: 0 30px;
}

.footer_email {
    color: #8967a2;
}

.logo_fcv {
    padding: 0 0 0 150px;
    position: relative;
}

.logo_fcv img {
    position: absolute;
    left: 28px;
    top: -8px;
    opacity: 0.8;
}

pre {
    border: 1px solid #000;
    overflow-x: auto;
    background: #222;
    color: #fff;
    text-shadow: none;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}

.jcarousel li {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.botao_generico {
    width: calc(100% - 15px);
    height: 30px;
    background-color: #7a5379;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid #633b62;
    margin: 10px 0 0 0;
    cursor: pointer;
    transition: 0.5s;
}

.botao_generico:hover {
    background-color: #483347;
}

.select2 {
    width: 100% !important;
}

.espaco_evento {
    width: 200px;
    height: 280px;
    margin: 0 80px 60px 0;
    background-image: url(../images/capa_simposio_a.jpg);
    background-size: cover;
    border-radius: 5px;
    border: 4px solid #633b62;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.espaco_evento:last-of-type {
    margin-right: 0;
}

.crianca_evento {
    background-position: center 0;
}

.tarja_baixar {
    width: 100%;
    height: 65PX;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.tarja_baixar:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.tarja_baixar a {
    color: #FFF;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 11px;
    font-size: 12px;
}

.inscrever_evento {
    position: absolute;
    bottom: -50px;
}

.espaco_evento p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
}

a.botao_generico {
    width: calc(100% - 5px);
    text-align: center;
    line-height: 29px;
    text-decoration: none;
}

.baixar_link {
    text-decoration: underline;
}

.modal_curso .espaco_campo {
    width: calc(20% - 15px);
}

.info_adicional_h3 {
    margin: 0 0 8px 0 !important;
}

.titulo_info_evento {
    margin: 0;
    padding: 15px 0 0 0;
    color: rgb(54, 45, 53);
    border-top: 1px solid #CCC;
}

.dados_evento {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: rgb(31, 31, 31);
}

.dados_evento img {
    width: 16px;
    vertical-align: top;
    margin: 0 4px 0 0;
    opacity: 0.8;
}

.dados_evento li {
    margin: 10px 0;
}

.imagem_curso_expansao {
    width: 385px;
    margin: 14px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.34);
}

.titulo_turma {
    text-transform: uppercase;
}

#sobre,
#informacoes,
#destinado,
#localizacao {
    white-space: pre-wrap !important;
}

.baixar_arquivo {
    background-color: #7a5379;
    color: #FFF !important;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
}

.baixar_arquivo:hover {
    opacity: 0.7;
}

.mais_arquivos {
    color: #7a5379;
    cursor: pointer;
}

.click_biblioteca {
    text-transform: uppercase;
    cursor: pointer;
    color: #4e4158;
}

.cabecalho_artigo {
    font-size: 12px;
    margin: -12px 0 -10px 0;
    color: #4e4e4e;
}

.img_dttable {
    width: 25px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(25%);
}

.img_dttable:hover {
    opacity: 0.8;
}

.odd {
    background-color: #eae4f5 !important;
}

th {
    font-weight: bolder !important;
}

.modal_biblioteca {
    width: 458px;
    height: 90px;
    margin: -60px 0 0 -240px;
    padding: 20px;
}

.div_inputs_biblioteca {
    width: 100%;
    margin: 10px 0;
}

.div_inputs_biblioteca .espaco_campo:first-of-type {
    width: 80%
}

.div_inputs_biblioteca .espaco_campo:last-of-type {
    width: 10%
}

#enviar_email_biblioteca {
    cursor: pointer;
    background-color: #8866a2;
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: #FFF;
    transition: 0.5s;
}

#enviar_email_biblioteca:hover {
    background-color: #684e7c;
}

.titulo_loc {
    margin: 0;
}

.subtitulo_loc {
    color: #554d5d !important;
}

.info_curso.mobile {
    display: none;
}

@media screen and (min-width: 1920px) {
    .div_principal {
        height: 660px;
    }
    .slogan_header {
        height: 660px;
        width: 1400px;
        margin: 0 0 0 -710px;
    }
    .cursos {
        width: 100%;
        text-align: center;
    }
    .cursos_interno {
        width: 1100px;
    }
    .jcarousel-control-prev,
    .jcarousel-control-next {
        top: 50% !important;
    }
}

@media screen and (max-width: 1024px) {
    .curso_a_interno {
        width: 893px;
    }
    .info_curso {
        right: 20px;
    }
    .sobre_curso {
        width: 583px;
    }
    .cursos_interno,
    .localizacao_div_interno,
    .footer_interno {
        width: 90%;
        margin: 30px auto 0 auto;
    }
    .cursos {
        height: auto;
        margin-bottom: 40px;
    }
    .linha_cursos {
        margin: auto;
    }
    .curso {
        width: 100%;
        height: 60px;
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .logo_nav {
        display: none !important;
    }
    .atalho_contato {
        display: none !important;
    }
    header {
        background-position: center;
    }
    header img {
        left: 15px;
    }
    header h3 {
        left: 90px;
    }
    nav {
        text-align: center;
        font-size: 11px;
    }
    nav a:first-of-type {
        margin-left: 7px;
    }
    nav a {
        margin: 0 7px;
    }
    nav img {
        display: none;
    }
    .dropdown_biblioteca,
    .dropdown_curso {
        top: 68px;
        left: 0;
        width: calc(100% - 40px);
    }
    .fechar_modal {
        width: calc(100% - 40px);
        height: 30px;
        line-height: 30px;
        border-radius: 0;
        text-align: center;
        position: absolute;
        top: initial;
        left: initial;
        bottom: 0;
        font-size: 14px;
        margin: 0;
    }
    .modal_contato,
    .modal_curso,
    .modal_curso_expansao {
        width: 100%;
        height: calc(100% - 50px);
        position: fixed;
        border-radius: 0;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 5;
        display: none
    }
    .espaco_campo,
    .modal_curso .espaco_campo {
        width: calc(100% - 10px);
        margin: 20px 0;
        display: block
    }
    .conteudo_modal_interno {
        width: 95%;
        height: calc(100% - 50px);
        overflow-y: scroll
    }
    #enviar_msg {
        width: calc(100% - 20px);
    }
    .curso_a_interno,
    .sobre_nos_interno,
    .contato_interno,
    .evento_interno {
        width: calc(90% - 60px);
        padding: 95px 30px 15px;
    }
    .espaco_evento {
        width: 100%;
    }
    .enlace_sobre_img {
        width: calc(60% - 15px);
    }
    .info_curso {
        width: calc(100% - 40px);
        margin: 20px 0 30px 0;
        position: relative;
        top: initial !important;
        right: initial;
        border: 1px solid #705d8e;
    }
    .info_curso:not(.mobile):last-of-type {
        margin: 0 0 20px 0;
    }
    .sobre_curso {
        width: 100%;
        padding-right: 0;
        border-right: none;
    }
    .sobre_curso img,
    .sobre_curso iframe {
        width: 100%;
    }
    .div_principal {
        width: 100%;
        height: 200px;
    }
    .slogan_header {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        border-radius: 0;
        background: -webkit-radial-gradient(#FFF, #e3d9e6);
        background: -o-radial-gradient(#FFF, #e3d9e6);
        background: -moz-radial-gradient(#FFF, #e3d9e6);
        background: radial-gradient(#fffffff7, #e3d9e6bf);
        border: none;
        border-bottom: none;
    }
    .slogan_header img {
        margin: 70px 0 23px 0;
    }
    .cursos {
        height: auto;
        margin-bottom: 17px;
    }
    .cursos_interno,
    .localizacao_div_interno,
    .footer_interno {
        width: 90%;
        margin: 30px auto 0 auto;
    }
    .linha_cursos {
        margin: auto;
    }
    .curso {
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 0 20px 0;
    }
    .modal_curso_expansao {
        overflow-y: auto;
    }
    .modal_curso_expansao .conteudo_modal_interno {
        width: calc(100% - 50px);
        height: auto;
        overflow: hidden;
        margin: 0 auto;
        border: none;
        text-align: center;
    }
    .info_adicional_expansao {
        top: 0 !important;
        right: 0;
        position: relative;
        margin: 20px auto;
        width: calc(100% - 150px);
    }
    .footer_interno {
        margin: 0 auto 0 auto;
    }
    footer {
        height: auto;
    }
    .footer_telefone,
    .footer_email {
        display: block;
    }
    .info_curso.mobile {
        display: block;
        top: 70px !important;
        z-index: 1;
        padding: 10px 20px 10px 20px;
        width: calc(100% - 40px);
        border-left: none;
        border-right: none;
        border-bottom: 4px solid #705d8e;
        border-radius: 0;
        margin: 0 0 -10px 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
    .info_curso.mobile .botao_generico {
        margin: 20px 0;
        height: 35px;
    }
}